
.main-img { 
  width: 100%;
  height: auto;
}

.icon {
  width: 40px;
  height: auto;
}

p { 
  color: #333339; 
}

.main-section { 
  margin: 0 auto;
  margin-top: 50px;
  width: 960px; 
  height: auto;
}

.left-section { 
  width: 20%;
  float: left;
}

.right-section {
  width: 80%;
  float: right;
}

.main-btn { 
  margin: 0;
  padding: 7px 0px;
  border-style: none;
  width: 25%;
  display: inline-block;
  text-align: center;
  background-color: #EFF8F7;
  color: #60BEAE;
  text-decoration: none;
  float: left;
}

.main-btn:hover {
  background-color: #D9EFEC;
}

.footer {
  width: 960px;
  margin: 0 auto; 
  height: auto;
  clear: both;
}

.dashed-hr {
  border-top: 1px dashed #E5E5E5;
}

.top-dashed-hr {
  margin-top: 75px;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.email-section { 
  display: inline-block;
}

#email-section-1 {
}

#email-section-1 {
}

.bottom-dashed-hr {
}


#bottom-hr { 
  border-top: 1px solid #E5E5E5;
}
