
img { 
  width: 100%;
  height: auto;
}

.main-section { 
  margin: 0 auto;
  width: 960px; 
  height: auto;
}

.left-section { 
  width: 20%;
  float: left;
}

.right-section {
  width: 80%;
  float: right;
}

.main-btn { 
  margin: 0;
  padding: 7px 0px;
  border-style: none;
  width: 25%;
  display: inline-block;
  text-align: center;
  background-color: #EFF8F7;
  color: #60BEAE;
  text-decoration: none;
}

.main-btn:hover {
  background-color: #D9EFEC;
}

.footer {
  clear: both;
}

hr { 
  margin: 20px 0px 0px 0px;
}
